:root{
  --primary-color: #28bf96;
  --primary-color-dark:#209677;
  --text-dark: #111827;
  --text-light:#6b7280;
  --white: #ffffff;
  --tamanho-title:1.4rem;
}

body{
  background-image: linear-gradient(12deg,yellow,lightblue,pink);
}

.section-container{
    display:flex;
    align-items:center;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    margin-bottom:7rem;
    margin-top:5rem;
}

.requisitos{
  margin-top: -180px;
    background-image: linear-gradient(120deg,lightblue,pink);
    border-radius: 19px;
    padding: 30px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, .5);
    width: 30%;
    /* height: 90vh; */
    display:flex;
    flex-direction: column;
    align-items:self-start;
    color: var(--white);
}
  
.requisitos h1{
    color: var(--white);
    font-size:2rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 2.5rem;
}

.requisitos p{
  text-align: justify;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.requisitos ul{
  display: flex;
  align-items: start;
  justify-content:start;
  flex-direction: column;
  gap: 1rem;
  margin-left: 18px;
}

.container{
  display:flex;
  flex-direction:column;
  justify-content :center;
  align-items:center;
  background-image: linear-gradient(120deg,lightblue,pink);
  border-radius: 19px;
  padding: 87px;
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, .5);
  /* box-shadow: 0px 0px 12px 4px ;
  box-shadow: 0px 0px 11px 3px ;
  box-shadow: 0px 0px 10px 2px ; */
  color: var(--text-dark);
}


.cadastro1{
  color: var(--white);
  text-align: center;
  font-size:var(--tamanho-title);
  
}


.input-group{
  position:relative;
  margin:20px 0;
  margin-top:30px;
}

.input-group #label3{
  position:absolute;
  top:50%;
  left:5px;
  transform:translateY(-50%);
  color:#fff;
  padding:0 5px;
  pointer-events:none;
  transition:.5s;
}

.input-group input{
  width:320px;
  height:40px;
  font-size:16px;
  padding:0 10px;
  background:transparent;
  border:1.2px solid #fff;
  outline:none;
  border-radius:5px;
}

.input-group input:focus+#label3,
.input-group input:valid+#label3{
  top:0;
  font-size:12px;
background-image: linear-gradient(130deg,lightblue,lightblue);
}

#label4{
  color:#fff;
}

.selecao{
  display: flex;
  align-items: center;
  justify-content: center;
margin-top: 20px;

}

.selecao .escolha{
  color: black;
  border: none;
  font-size: 16px;
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  outline: none;
  background-color: #fff;
border-radius: 10px 10px;
}


.selecao .op1{
  color: black;
}



.genero{
    display:flex;
    justify-content: space-around;
    
}


.genero .generos{
  color: #000;
}

input[type="file"]{
    display: none;

}


.ficheiro{
    display: flex;
    justify-content: space-around;
    margin-top: 23px;
 
}

.label1{
    padding:10px 10px;
    width: 100px;
    font-size:15px;
    font-weight: bold;
    color: white;
    background:#292829;
    display:block;
    margin-top: 10px;
    font-family:'poppins',sans-serif;
    cursor: pointer;
    transition:.5s;
    border-radius: 15px;
    border:2px solid white;

}


input[type="date"]{
  color: #fff;
}

.label1:nth-child(1){
 text-align: center;
}

.label1:nth-child(2){
 text-align:center;
}

.button-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

}

#a1{

  padding: 20px 40px;
  border-radius: 15px;
  border:none;
  transition: 1s;
  cursor: pointer; 
  background-color: white;

    &:hover{
        background-color: black;
        color: white;
        transform: scale(1.05);
    }
}

@media(max-width:1096px){
    .section-container{
      display:flex;
      align-items:center;
      flex-direction: column;
      gap: 3rem;
      justify-content: center;
      margin-bottom:7rem;
      margin-top:5rem;
    }
    .requisitos{
        margin-top: 40px;
        background-image: linear-gradient(120deg,lightblue,pink);
        border-radius: 19px;
        padding: 40px;
        box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, .5);
        width: 80%;
        display:flex;
        flex-direction: column;
        align-items:self-start;
        color: var(--white);
    }
    .requisitos h1{
      color: var(--white);
      font-size:2rem;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 2.5rem;
  }
      
}

@media(max-width:534px){

  .requisitos{
    margin-top: 40px;
    background-image: linear-gradient(120deg,lightblue,pink);
    border-radius: 19px;
    padding: 40px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, .5);
    width: 70%;
    display:flex;
    flex-direction: column;
    align-items:self-start;
    color: var(--white);
}
.requisitos h1{
  color: var(--white);
  font-size:2rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 2.5rem;
}
      
.section-container{
  
  display: flex;
  align-items: center;
  justify-content: center;
}

    
.container{
  width:50%;
}

}

@media(max-width:386px){
      
.section-container{
  
  display: flex;
  align-items: center;
justify-content: center;
}

    
.container{
 width:40%;
}

.selecao .escolha{
  color: black;
  border: none;
  font-size: 16px;
  width: 70%;
  padding: 10px 10px;
  text-align: center;
  outline: none;
  background-color: #fff;
border-radius: 10px 10px;
}

.input-group input{
  width:226px;
  height:40px;
  font-size:16px;
  padding:0 10px;
  background:transparent;
  border:1.2px solid #fff;
  outline:none;
  border-radius:5px;
}

.ficheiro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 23px;

}

#file1{
  padding:20px 10px;
  width: 100px;
  font-size:15px;
  font-weight: bold;
  color: white;
  background:#292829;
  display:block;
  margin-top: 10px;
  font-family:'poppins',sans-serif;
  cursor: pointer;
  transition:.5s;
  border-radius: 15px;
  border:2px solid white;

}

.label1{
  padding:10px 10px;
  width: 100px;
  font-size:15px;
  font-weight: bold;
  text-align: center;
  color: white;
  background:#292829;
  display:block;
  margin-top: 10px;
  font-family:'poppins',sans-serif;
  cursor: pointer;
  transition:.5s;
  border-radius: 15px;
  border:2px solid white;

}
}