
:root{
    --primary-color: #28bf96;
    --primary-color-dark:#209677;
    --text-dark: #111827;
    --text-light:#6b7280;
    --white: #ffffff;
}

main .container_curso:last-child{
    margin-bottom: 100px;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    color: #fff;
    text-align:justify;
    font-size: 2.5em;
    background-color: black;
    margin: 0;
}


.container_curso:not(:first-child){
    margin-top: 100px;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    gap:2rem;
}

#primeiro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    color: var(--text-light);
    margin:50px auto;
    text-align: justify;
}

#primeiro ul{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box{
    text-align: justify;
}

.box h1{
    text-align: center;
    font-size: 30pt;
    color: #0843f7;
    margin-bottom: 20px;
    margin-top: 20px;
}

.box h2{
    text-align: center;
    color: #3d6dd4;
    margin-bottom: 20px;
    margin-top: 20px;
}

.box h3{
    text-align: center;
    color: #85a5e9;
    margin-bottom: 10px;
    margin-top: 20px;
}

.box ul{
    color: var(--text-light);
    margin-left: 30px;
    /* margin-top: 10px; */
}

.box p{
    color: var(--text-light);
    width: 90%;
}

.box_slide{
    margin:0;
    padding:0;
    width:490px;
    height:100%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border-radius: 8px;
    /* box-shadow: 1px 1px 12px rgba(0,0,0,0.4); */
}

.container_slider{

    display: flex;
    width: 100%;
    height: 400px;
    animation: slider  16s infinite;  
    border-radius: 12px;
}

.break-text, 
.break-title{
    display: none;
}

@keyframes slider {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

.container_slider img{
   width: 100%;
   height: 400px;
   border-radius: 12px;
   margin-left: 0.2px;
}

@media (max-width:1109px){
    .content{
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap:2rem;
    }

    .box{
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:0.4rem;
        /* box-shadow: 1px 1px 12px rgba(0,0,0,0.4); */
        background-color: #fff;
        border-radius: 12px;
        padding: 10px;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 100px;
    } 

    .box_slide{
        margin-top: 80px;
        margin-bottom: -200px;
        padding:0;
        width:500px;
        height:300px;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 1px 1px 12px px rgba(0,0,0,0.4);
    }
}

@media (max-width:725px){
    .break-text{
        display: inline;
    }
}

@media (max-width:587px){
    .box{
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:0.4rem;
        /* box-shadow: 1px 1px 12px rgba(0,0,0,0.4); */
        background-color: #fff;
        border-radius: 12px;
        padding: 10px;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 100px;
    } 

    .box_slide{
        margin-top: 30px;
        margin-bottom: -200px;
        padding:0;
        width:400px;
        height:240px;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        overflow: hidden;
        border-radius: 8px;
    }
}

@media (max-width:540px){
    .box h1{
        text-align: center;
        font-size: 25pt;
        color: #0843f7;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    
    .box h2{
        font-size: 18pt;
        text-align: center;
        color: #3d6dd4;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .box h3{
        text-align: center;
        font-size: 16pt;
    }

    p{
        font-size: 10pt;
    }

}

@media (max-width:488px){

    .box h1{
        text-align: center;
        font-size: 20pt;
        color: #0843f7;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    
    .box h2{
        font-size: 15pt;
        text-align: center;
        color: #3d6dd4;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .box h3{
        text-align: center;
        font-size: 14pt;
    }

    p{
        font-size: 10pt;
    }

    #titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        color: #fff;
        text-align:justify;
        font-size: 2em;
        background-color: black;
        margin: 0;
    }
    
    .break-title{
        display: inline;
    }

    .box{
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:0.4rem;
        /* box-shadow: 1px 1px 12px rgba(0,0,0,0.4); */
        background-color: #fff;
        border-radius: 12px;
        padding: 10px;
        width: 85%;
        margin: 0;
        margin-bottom: 100px;
    } 

    .box_slide{
        margin-top: 30px;
        margin-bottom: -200px;
        padding:0;
        width:400px;
        height:240px;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        overflow: hidden;
        border-radius: 8px;
    }
}

@media (max-width:410px){

    .box p{
      
        text-align: justify;
    }
    
    .box ul{
        text-align: justify;
    }
    

    .box{
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:0.4rem;
        /* box-shadow: 1px 1px 12px rgba(0,0,0,0.4); */
        background-color: #fff;
        border-radius: 12px;
        padding: 10px;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 100px;
    } 

    .box_slide{
        margin-top: 10px;
        margin-bottom: -200px;
        padding:0;
        width:250px;
        height:200px;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        overflow: hidden;
        border-radius: 8px;
    }
}