:root {
  --primary-color: #28bf96;
  --primary-color-dark: #209677;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffff;
}

main {
  width: 100%;
  max-width: 1366px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_curso {
  width: 100%;
}

.container_curso:last-child {
  margin-bottom: 100px;
}

#title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  color: #fff;
  text-align: center;
  font-size: 24pt;
  background-color: black;
}

#title-section h1 {
  margin-bottom: 100px;
}

/* .container_curso:not(:first-child) {
   margin-top: 100px; 
} */

#initial-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: var(--text-light);
  margin: 50px auto 100px auto;
  text-align: justify;
}

#initial-text ul {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  gap: 2px;
  column-gap: 1px;
  width: 100%;
  margin-bottom: 100px;
}

.box {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 30px;
}

.box h1 {
  text-align: center;
  font-size: 28pt;
  color: #0843f7;
  margin-bottom: 20px;
  margin-top: 20px;
}

.box h2 {
  text-align: center;
  color: #0843f7;
  margin-top: 20px;
}

.box h3 {
  text-align: center;
  color: #0346d6;
  margin-bottom: 10px;
}

.box ul {
  color: var(--text-light);
  margin-left: 30px;
}

.box p {
  text-align: justify;
  color: var(--text-light);
  width: 90%;
}

.lista-aprendizado {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: decimal;
}

.list-item {
  font-weight: 600;
}

.break-text,
.break-title {
  display: none;
}

.box_slide {
  margin: 0;
  padding: 0;
  width: 490px;
  height: 100%;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border-radius: 8px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.4));
}

.container_slider {
  display: flex;
  width: 100%;
  height: 400px;
  animation: slider 16s infinite;
  border-radius: 12px;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.container_slider img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin-left: 0.2px;
}

@media (max-width: 1109px) {
  #initial-text {
    width: 80%;
    margin: 0px auto 0 auto;
  }
  .box {
    text-align: justify;
    gap: 0.4rem;
    border-radius: 12px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .box_slide {
    margin-top: 30px;
    width: 95%;
  }

  .container_curso:not(:first-child) {
    margin-top: 100px;
  }
}

@media (max-width: 886px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .box_slide {
    margin-top: 50px;
    margin-bottom: -200px;
    width: 450px;
    height: 300px;
  }

  .container_slider {
    width: 500px;
    height: 350px;
  }
}

@media (max-width: 587px) {
  .box {
    gap: 0.4rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .box_slide {
    margin-top: 30px;
    padding: 0;
    width: 400px;
    height: 240px;
  }
}

@media (max-width: 488px) {
  .box h1 {
    text-align: center;
    font-size: 24pt;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .box h2 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .box {
    gap: 0.4rem;
    padding: 10px;
    width: 100%;
    margin: 0;
    margin-bottom: 100px;
  }

  .box_slide {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 410px) {
  .box {
    gap: 0.4rem;
    padding: 10px;
    width: 100%;
    margin-bottom: 80px;
  }
}
