*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  :root{
    --radius:12px;
    --blue:#fff;
  }
  
  .container{
    width:100%;
    height: 1000px;
    margin-bottom: 100px;
  }
  
  .blog-section{
    width:85%;
    margin:20px auto;
    height: 100vh;
  }
  
  .blog-section .title{
    width:60%;
    text-align:center;
    margin:auto;
  }
  
  .blog-section .title h2{
    font-size:40px;
    color:#357ca6;
    margin-top:100px;
    margin-bottom:50px;
  }
  
  .blog-section .title p{
    text-align: justify;
    font-size:18px;
    color:#7e7e7e;
    margin-top:20px;
    margin-bottom:50px;
  }

  #rupi_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin:30px auto;
    border-radius: var(--radius);
    width:50%;
    height: 40%;
    position:relactive;
    padding:15px 20px;
    background-color:#ffffff;
    box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, .4);
    margin-bottom: 200px;
  }

  #rupi_box #btn{
    border-radius: var(--radius);
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color:#3e9cd3;
    color: #fff;

    &:hover{
        background-color:#357ca6;
    }
  }

.arearupi{
    border-radius: var(--radius);
    border: none;
    outline: none;
    padding: 20px 20px;
    font-size: 1.5rem;
    background-color:#26292b70;
    color: #ffffff;
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  
 
  
  @media (max-width:1160px){
    #rupi_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin:25px auto;
        border-radius: var(--radius);
        width:500px;
        height: 40%;
        position:relactive;
        padding:15px 20px;
        background-color:#ffffff;
        box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, .4);
      }
  }
  
  @media (max-width:659px){
    .arearupi{
        padding: 10px 20px;
        background-color:#26292b70;
        color: #ffffff;
        width: 80%;
        height: 30px;
      }
    #rupi_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin:25px auto;
        border-radius: var(--radius);
        width:350px;
        height: 40%;
        position:relactive;
        padding:15px 20px;
        background-color:#ffffff;
        margin-bottom: 100px;
        box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, .4);
      }
  }
  
  @media (max-width:397px){
    .arearupi{
        padding: 10px 20px;
        background-color:#26292b70;
        color: #ffffff;
        width: 100%;
        height: 30px;
      }

    .blog-section .title h2{
        font-size:40px;
        color:#357ca6;
        margin: 50px auto;
        text-align: center;
    }

    #rupi_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin:25px auto 100px auto;
        border-radius: var(--radius);
        width:300px;
        height: 40%;
        position:relactive;
        padding:15px 20px;
        background-color:#ffffff;
        box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, .4);
      }
  }

  @media (max-width:350px){

    .arearupi{
        padding: 10px 20px;
        background-color:#26292b70;
        color: #ffffff;
        width: 100%;
        height: 30px;
      }
      
    .blog-section .title{
        width:250px;
        text-align:center;
        margin:auto;
      }

    #rupi_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin:25px auto 100px auto;
        border-radius: var(--radius);
        width:250px;
        height: 40%;
        position:relactive;
        padding:15px 20px;
        background-color:#ffffff;
       
        box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, .4);
      }
  }