* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: "Arial", sans-serif;
}

abbr {
  text-decoration: none;
  font-weight: bold;
}

main {
    
  background-image: url("../img/homePageImg/imagem_ipial.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#titulo {
  font-size: 2em;
  height: 300px;
  color: #fff;
  text-align: center;
  background-color: black;
  width: 100%;
  border-bottom: 20px solid #fff;
}

#titulo h1{
  font-size: 2em;
  margin-bottom: 100px;
}

section {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
  width: 100%;
  max-width: 1366px;
  margin: auto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* Seções */
.corpo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.6);
}

.container {
  width: 80%;
  text-align: justify;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cta {
  background-color: #3498db;
  height: 300px;
  text-shadow: none;
}

.cta .container {
  text-align: center;
  padding: 20px;
}

.cta h2 {
  font-size: 2em;
}

.cta .btn {
  margin-top: 10px;
  background-color: #2980b9;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

.cta .btn:hover {
  background-color: #1f6f8f;
}

.ocult {
  display: none;
}

@media (max-width: 700px) {
  #titulo {
    font-size: 1.5em;
    height: 300px;
    text-align: center;
  }
  .container {
    width: 95%;
    padding: 0px;
  }

  section {
    padding: 0;
  }
  .cta {
    height: 400px;
  }
}
