/*63*/

:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

footer{
    font-family:' Calibri', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link{
    text-decoration:none;
}
  
#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom:0.75rem;
}

#footer_social_midia{
    display: flex;
    gap: 2rem;
    margin-top:1.5rem;
}

#footer_social_midia .footer-link{
    height:2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

a.footer-link img{
    width: 96%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: darken;/*darken, multiply*/
}

#footer_social_midia .footer-link:hover{
    opacity:0.8;
}

#instagram{
    background:linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color:#4267d3;
}

#whatsApp{
    background-color: #25d366;
}

.footer-list{
    display:flex;
    flex-direction: column;
    gap:0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: var(--color-neutral-30);
    transition:all 0.4s;
}
.footer-list .footer-link:hover{
    color:#7f37c9;
}

#subscribe{
    display:flex;
    flex-direction:column;
    gap: 1.5rem;

}
#subscribe p{
    color:var(--color-neutral-30)
}

#subscribe-button{
    inset:All;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    
}
.subscribe-link{
    font-weight: 800;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius:4px;
    width: 100px;
    padding:0.75rem;
    text-align: center;
    color:#fff;
    background-color:#520d97;

    &:hover{
        color:#520d97;
        background-color:var(--color-neutral-0);
    }
}

#input_group input{
    all:unset;
    padding:0.75rem;
    width:100%;
}

#input_group button{
    background-color:#7f37c9;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--color-neutral-40);
    padding:0px 1.25rem;
    font-size:1.25rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition:all 0.4s;
}

#input_group button:hover{
    opacity:0.4;
}

#footer_copyright{
    display:flex;
    justify-content:center;
    background-color: var(--color-neutral-0);
    font-size:0.9rem;
    padding:1.5rem;
    font-weight:100;
}

@media screen and (max-width:768px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap:2rem;
    }  
}

@media screen and (max-width:426px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}