*{
    margin:0;
    padding:0;
    font-family: 'poppins'; 
}

html {
    scroll-behavior: smooth;
}

:root{
    --bg-color: #fff;
    --text-dark: #111827;
}

body{
    max-width: 1350px;
    margin: auto;
}
header{
    height:5rem;
    margin-bottom: -20px;
}

nav.navbar{
    width: 100%;
    max-width: 1350px;
    height:5rem;
    position: fixed;
    z-index: 1000;
    background-color: var(--bg-color);
    box-shadow:2px 2px 4px rgba(0,0,0,0.6);
}

.container_nav{
    margin: 0 auto;
    width: 100%;
    max-width: 1290px;
    height:5rem;
    z-index: 1000;
    display:flex;
    flex-direction: row;
    align-items:center;
    gap: 1rem;
    justify-content: space-between;
}

#area-logo{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.logo{
    margin-top: -10px;
    width: 100px;
    height: 60px;
    background-image:url('../img/logo_ipial.png'); 
    background-repeat: no-repeat;
    background-size: cover;  
}

#logo-texto{
    display: none;
    margin-left: 1200px;
    color: #5a5555;
    margin-top: 45px;
    font-family:'novafonte';
    font-size: 10pt;
    letter-spacing: 10px;
    height: 100px;
    line-height: 50px;
    margin-left: 20px;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.3rem;
    list-style: none;
 }

 .nav-menu a{
    /* transition: 0.5s ease; */
    text-decoration:none;
    color:black;
    padding: 8px 12px;
    border-radius: 15px;
    transition: all .2s;
}

.nav-menu a:hover{
    color:#fff;
    background-color: black;
}

.separate-link{
    border:1px solid black;
    margin-right: 10px;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

span.bar {
    display: block;
    width:25px;
    height: 3px;
    border-radius:2px;
    margin:5px auto;
    background-color: #5a5555;
    transition: all 0.3s ease-in-out;
}

h3.topo{
    position: relative;
    top: -100px;
    left: -608px;
    font-size: 8pt;
    font-weight:100;
    letter-spacing: 2px;
}

section.texto_animado{
    margin-top:21px;
    height: 100vh;
    width: 100%;
    color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*background-image: url('../img/homePageImg/1-copia4r.jpg');*/
    background-repeat:no-repeat;
    background-size:cover;
    background-position-x: center;
    animation:bgChange 45s linear infinite;
    transition: 1s;
}

@keyframes bgChange{
    0%{
        background-image:url('../img/homePageImg/imagem_ipial.jpg');
        transition: 1s;
    }
    30%{
        background-image:url('../img/homePageImg/imagem1.jpg');
        transition: 1s;
    }
    70%{
        background-image:url('../img/homePageImg/imagem2.jpg');
        transition: 1s;
    } 
    100%{
        background-image:url('../img/homePageImg/imagem3.jpg');   
        transition: 1s;
    }
} 

.ofuscar{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, .3);
}

h2.tex-ani{
    position: relative;
    margin-top: 100px;
    opacity: 0;
    transition:7s;
    text-align: center;
    transform: translateX(-5%);
    animation: move 5s forwards ease-out;
    font-size: 24pt;
    z-index: 1;
}

#break-1, #break-2{
    display: none;
}

@keyframes move{
    from{
        opacity:0;
        transform:translate(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.button-animate{
    border:1px solid;
    border-radius: 12px;
    position: relative;
    margin-top: 160px;
    padding:12px;
    width:200px;
    font-size:123%;
    border: 1px solid blueviolet;
    background-color: transparent;
    cursor: pointer;
    animation:tictac 2s infinite;
    
    &:hover{
        background-color: #0c0c0cbb;
    }
}

@keyframes tictac{
    0%{
        transform:scale(1);
    }

    0%{
        transform:scale(1);
    }

    25%{
        transform:scale(1);
    }
    
    75%{
        transform:scale(1.1); 
    }

    100%{
        transform:scale(1.02);
    }
}

.button-animate-link{
    text-decoration: none;
    color: #fff;
}

section#info_cursos{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 40px;
}

p#p_mensagem{
    font-weight:700;
    font-size:30pt;
    letter-spacing: 5px;
    font-family: Poppins;
    text-align: center;
    color:#3a3838;
    margin: 20px auto;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

section div#cursos{
    width: 90%;
    margin: 10px;
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

div.home_img{
    margin: 10px;
    width: 250px; 
    height: 300px;
    background-color: #dddada;
    /* border: 5px solid rgb(237, 233, 240); */
    border-radius: 14px;
    background-size: cover;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    transition:all 0.5s ease-in;
}

div.home_img:hover{
    transform:scale(1.3);
    z-index: 2;
    box-shadow: 4px 10px 20px #474747aa;
}
 
div.home_img:nth-child(1){
    background-image:url(../img/construcao_civil/flat-lay-construction-architect-equipment-with-copyspace.jpg);
    background-size:cover;
}

div.home_img:nth-child(2){
    background-image:url(../img/eletricidade/expert-looks-online-new-air-filters.jpg);
    background-size:cover;
}

div.home_img:nth-child(3){
    background-image:url('../img/electronica/pic-pessoa-1.jpg');
    background-size:cover;
}

div.home_img:nth-child(4){
    background-image:url(../img/informatica/pexels-mikhail-nilov-7988114.jpg);
    background-size:cover;
}

div.box-t-info{
    border-radius: 14px;
    padding: 10px 0;
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #18171750;  
}

div.box-t-info:hover{
   opacity: 0;
}

h1.nome_curso{
    text-align: center;
    font-weight:500;
    font-size:14pt;
    font-family: Poppins;
    color:#fdfdfd;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

div.home_img div.mais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding:10px;
    border-radius: 12px;
    gap: 1rem;
    background-color: #18171783;
    visibility: hidden;
    font-size: 8pt;
}

div.mais h1{
    text-align: center;
    color:#fff;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.6);
}

div.mais button {
    border:none;
    outline: none;
    padding:12px;
    border-radius:1rem;
    background-color: #fff;
}

div.mais button:hover{
    transform: scale(1.05);
    transition: 0.6s ease;
    background-color:black;
    color:white;
}

.info_alda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1rem;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.4);
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.informacao{
    border-radius: 12px;
    text-align: justify;
    width: 45%;
    color: #111827;
    /* margin-bottom: 100px; */
    padding: 20px;
    /* box-shadow: 1px 1px 12px rgba(0,0,0,0.4); */
}

.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 350px;
    border-radius: 12px;
    padding: 10px;
    /* background-color: #fff; */
    /* box-shadow: 1px 1px 12px rgba(0,0,0,0.4); */
    /* margin-bottom: 50px; */
}

video {
    width: 100%;
    height: 3/0;
    margin: 0 auto;
    outline: none;
    /* margin-top: 5px; */
    border-radius: 12px 12px 12px 12px;
}

.informacao h1{
    margin-bottom: 20px;
}

@media (max-width:1235px){
    section div#cursos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 50%;
        margin: 10px;
        row-gap: 2rem;
        column-gap: 2rem;
        padding:20px;
        margin-bottom: 1rem;
    }
}

@media (max-width:1199px){
    .info_alda{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:1rem;
        box-shadow: 1px 1px 12px rgba(0,0,0,0.4);
        background-color: #fff;
        border-radius: 12px;
        padding: 10px;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .informacao{
        border-radius: 12px;
        text-align: justify;
        width: 85%;
        color: #111827;
        padding: 15px;
    }
    
    .video-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 350px;
        border-radius: 12px;
        padding: 10px;
    }
}

@media (max-width:768px){

    .logo{
        margin-top: -10px;
        width: 100px;
        height: 60px;   
    }

    .hamburguer{
        display:block;
        margin-right: 20px;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        background-color: red;
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        background-color: red;
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left:-800px;
        top:70px;
        gap:1rem;
        padding: 5px;
        border-radius:0 0 20px 20px;
        background-color:#fff;
        text-align:center;
        flex-direction:column;
        width:100%;
        height: 15rem;
        transition: 0.4s;
        box-shadow:2px 2px 2px rgba(126, 124, 124, 0.6);
    }

    .separate-link{
        margin:16px 0;
    }
    .nav-menu.active{
        left:0px;
    }

    div.home_img{
        margin: 10px;
        width: 250px; 
        height: 300px;
        background-color: #dddada;
        /* border: 5px solid rgb(237, 233, 240); */
        border-radius: 14px;
        background-size: cover;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        transition:all 0.5s ease-in;
    }
    
    div.home_img:hover{
        transform:scale(1.2);
        z-index: 2;
        box-shadow: 4px 10px 20px #474747aa;
    }

    div.box-t-info{
        border-radius: 14px;
        padding: 10px 0;
        width: 250px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content:center;
        background-color: #18171750;  
    }
    
    .info_alda{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap:0.2rem;
        box-shadow: 1px 1px 12px rgba(0,0,0,0.4);
        background-color: #fff;
        border-radius: 12px;
        padding: 10px;
        width: 85%;
        height: 600px;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .informacao{
        border-radius: 12px;
        text-align: justify;
        width: 85%;
        color: #111827;
        padding: 15px;
    }
    
    .video-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 450px;
        border-radius: 12px;
        padding: 10px;
    }
}


@media (max-width:630px){

    .logo{
        margin-top: -10px;
        width: 90px;
        height: 60px;   
    }

    h2.tex-ani{
        position: relative;
        margin-top: 100px;
        opacity: 0;
        transition:7s;
        text-align: center;
        transform: translateX(-5%);
        animation: move 5s forwards ease;
        font-size: 24pt;
    }
    
    #break-2{
        display: block;
    }

    .info_alda{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap:0.2rem;
        box-shadow: 1px 1px 12px rgba(0,0,0,0.4);
        background-color: #fff;
        border-radius: 12px;
        padding: 10px;
        width: 85%;
        height: 700px;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    section div#cursos{
        display: flex;
        width: 50%;
        margin: 10px;
        row-gap: 2rem;
        column-gap: 2rem;
        padding:20px;
        margin-bottom: 1rem;
    }
}

@media (max-width:573px){

    h2.tex-ani{
        position: relative;
        margin-top: 70px;
        opacity: 0;
        transition:7s;
        text-align: center;
        transform: translateX(-5%);
        animation: move 5s forwards ease;
        font-size: 24pt;
    }

    #break-1{
        display: block;
    }
    #break-2{
        display: block;
    }
}

@media (max-width:320px){
    
    nav.navbar{
        width: 100%;
        max-width: 1350px;
        height:5rem;
        position: fixed;
        z-index: 1000;
        background-color: var(--bg-color);
        box-shadow:2px 2px 4px rgba(0,0,0,0.6);
    }
    
    .container_nav{
        margin: 0 auto;
        width: 100%;
        max-width: 1290px;
        height:5rem;
        z-index: 1000;
        display:flex;
        flex-direction: row;
        align-items:center;
        gap: 8rem;
        justify-content: center;
    }

    section div#cursos{
        display: flex;
        width: 50%;
        margin: 5px;
        row-gap: 2rem;
        column-gap: 2rem;
        padding:20px;
        margin-bottom: 1rem;
    }
}


.apareca{
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

@keyframes appear2 {
    from{
        opacity: 0;
        /* scale:0.5; */
        transform: translateX(-100px);
        /* clip-path: inset(100% 100% 0 0); */
    }

    to{
        opacity: 1;
        /* scale:1; */
        transform: translateX(0px);
        /* clip-path: inset(0 0 0 0); */
    }
}